# Author Rick Kotlarz ~ https://github.com/RickKotlarz/
# Updated 2025-March-26
openapi: 3.0.0

info:
  title: Palo Alto XSOAR without-API-x-xdr-auth-id v3.0.3
  description: Plugin example leveraging the Palo Alto XSOAR API without-API-x-xdr-auth-id v3.0.3
  descriptionForModel: Plugin example leveraging the Palo Alto XSOAR API without-API-x-xdr-auth-id
  version: 'v3.0.2'

servers:
  - url: https://api-02019896801prod.crtx.us.paloaltonetworks.com/xsoar/
 
#   Replace the above URL with your Palo Alto XSOAR URL.

#######################################################################################################
# Per the Palo Alto Cortex API documentation.
#
#    https://cortex-panw.stoplight.io/docs/cortex-xsoar-8/
#######################################################################################################

paths:

#####################################################################################################
#  Incidents
#     Get a specefic incident
#     https://cortex-panw.stoplight.io/docs/cortex-xsoar-8/
#     https://cortex-panw.stoplight.io/docs/cortex-xsoar-8/apeqo6aqy6612-get-a-specific-incident
#####################################################################################################

  /public/v1/incident/load/{id}:
    get:
      operationId: X-GetIncident
      displayName: X-GetIncident
      description: Palo Alto XSOAR - Get a specific incident
      descriptionForModel: |
        Palo Alto XSOAR - Get a specific incident
      examplePrompts:
        - 'Get Palo Alto XSOAR incident'
        - 'Get Palo incident'
        - 'Get Palo XSOAR incident'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          placeholderValue: Incident ID to look up (e.g. 9675309)
          description: The unique identifier of the incident. (e.g. 9675309)
      responses:
        '200':
          description: Successfully retrieved incident details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "178768"
                  version:
                    type: integer
                    example: 0
                  cacheVersn:
                    type: integer
                    example: 0
                  modified:
                    type: string
                    format: date-time
                    example: "1970-01-01T00:00:00Z"
                  sizeInBytes:
                    type: integer
                    example: 0
                  CustomFields:
                    type: object
                    properties:
                      bmcassignee:
                        type: array
                        items:
                          type: object
                          properties: {}
                      bmccustomer:
                        type: array
                        items:
                          type: object
                          properties: {}
                      bmcrequester:
                        type: array
                        items:
                          type: object
                          properties: {}
                      containmentsla:
                        type: object
                        properties:
                          accumulatedPause:
                            type: integer
                            example: 0
                          breachTriggered:
                            type: boolean
                            example: false
                          dueDate:
                            type: string
                            format: date-time
                            example: "0001-01-01T00:00:00Z"
                          endDate:
                            type: string
                            format: date-time
                            example: "0001-01-01T00:00:00Z"
                          lastPauseDate:
                            type: string
                            format: date-time
                            example: "0001-01-01T00:00:00Z"
                          runStatus:
                            type: string
                            example: "idle"
                          sla:
                            type: integer
                            example: 30
                          slaStatus:
                            type: integer
                            example: -1
                          startDate:
                            type: string
                            format: date-time
                            example: "0001-01-01T00:00:00Z"
                          totalDuration:
                            type: integer
                            example: 0
                  account:
                    type: string
                    example: ""
                  autime:
                    type: integer
                    example: 1712843499584000000
                  type:
                    type: string
                    example: "default_type"
                  rawType:
                    type: string
                    example: "default_type"
                  name:
                    type: string
                    example: "delete_integration_instance_ESEDFV0U"
                  rawName:
                    type: string
                    example: "delete_integration_instance_ESEDFV0U"
                  status:
                    type: integer
                    example: 0
                  custom_status:
                    type: string
                    example: ""
                  resolution_status:
                    type: string
                    example: ""
                  reason:
                    type: string
                    example: ""
                  created:
                    type: string
                    format: date-time
                    example: "2024-04-11T13:51:39.584Z"
                  occurred:
                    type: string
                    format: date-time
                    example: "2024-04-11T13:51:38.183347Z"
                  closed:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  sla:
                    type: integer
                    example: 0
                  severity:
                    type: integer
                    example: 0
                  investigationId:
                    type: string
                    example: ""
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                        type:
                          type: string
                  attachment:
                    type: string
                    nullable: true
                  details:
                    type: string
                    example: "{\"foo\": \"bar\", \"demisto_url\": {\"evidenceBoard\": \"https://fqdn.us.paloaltonetworks.com/EvidenceBoard/temp_a55ff05c-6e11-4544-86cf-f513687fc9fa\", \"investigation\": \"https://fqdn.us.paloaltonetworks.com/Details/temp_a55ff05c-6e11-4544-86cf-f513687fc9fa\", \"relatedIncidents\": \"https://fqdn.us.paloaltonetworks.com/Cluster/temp_a55ff05c-6e11-4544-86cf-f513687fc9fa\", \"server\": \"https://fqdn.us.paloaltonetworks.com\", \"warRoom\": \"https://fqdn.us.paloaltonetworks.com/WarRoom/temp_a55ff05c-6e11-4544-86cf-f513687fc9fa\", \"workPlan\": \"https://fqdn.us.paloaltonetworks.com/WorkPlan/temp_a55ff05c-6e11-4544-86cf-f513687fc9fa\"}}"
                  openDuration:
                    type: integer
                    example: 0
                  lastOpen:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  closingUserId:
                    type: string
                    example: ""
                  owner:
                    type: string
                    example: ""
                  activated:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  closeReason:
                    type: string
                    example: ""
                  rawCloseReason:
                    type: string
                    example: ""
                  closeNotes:
                    type: string
                    example: ""
                  playbookId:
                    type: string
                    example: ""
                  dueDate:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  reminder:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  runStatus:
                    type: string
                    example: ""
                  notifyTime:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  phase:
                    type: string
                    example: ""
                  rawPhase:
                    type: string
                    example: ""
                  isPlayground:
                    type: boolean
                    example: false
                  rawJSON:
                    type: string
                    example: ""
                  parent:
                    type: string
                    example: ""
                  parentXDRIncident:
                    type: string
                    example: ""
                  retained:
                    type: boolean
                    example: false
                  category:
                    type: string
                    example: ""
                  rawCategory:
                    type: string
                    example: ""
                  linkedIncidents:
                    type: array
                    items:
                      type: object
                      properties: {}
                  linkedCount:
                    type: integer
                    example: 0
                  droppedCount:
                    type: integer
                    example: 0
                  sourceInstance:
                    type: string
                    example: "delete_integration_instance_ESEDFV0U"
                  sourceBrand:
                    type: string
                    example: "Rocket Incident Generator"
                  canvases:
                    type: string
                    nullable: true
                  lastJobRunTime:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  feedBased:
                    type: boolean
                    example: false
                  dbotMirrorId:
                    type: string
                    example: ""
                  dbotMirrorInstance:
                    type: string
                    example: ""
                  dbotMirrorDirection:
                    type: string
                    example: ""
                  dbotDirtyFields:
                    type: array
                    items:
                      type: string
                    example: []
                  dbotCurrentDirtyFields:
                    type: array
                    items:
                      type: string
                    example: []
                  dbotMirrorTags:
                    type: array
                    items:
                      type: string
                    example: []
                  dbotMirrorLastSync:
                    type: string
                    format: date-time
                    example: "0001-01-01T00:00:00Z"
                  isDebug:
                    type: boolean
                    example: false
      '400':
        description: Bad request
